body
{
		font-family:  "Arial Black", Gadget, sans-serif;
		font-size: 20x;
		margin: 0;
		padding: 0;
}
#nav_bar
{
		margin-bottom: 0px;
		padding: 0;
		background-color: #000000;
		border: none;
}
.someclass
{
	color: #ffffff !important;
	font-size: 25px;
	font-weight: 600;

}
#nav_list> li > a
{
	color: #ffffff !important;
	font-weight: 500;
}
s#headRow
{
		background: url("image/2.jpg" ) no-repeat;
		background-size:100% auto;
		width: 100%;
		height: 500%;
		margin-top: 0px;
}

#colHeadText1
{
	color: white  ;
	padding-top: 30px;
	font-size: 50px
	font-weight=500;

}
#colHeadText2
{
		color: white;
		padding-top: 30px;
		font-size: 5px
		font-weight=500
}
ul#list_items
{
		color: red;
		font-size: 35px;
		text-align: center;
}
#car
{
	width:60%;
	margin: auto;
	text-align: center;
}
input[type='text']
{
		height: 40px;
		font-size: 20px;

}
 
i#submitcar
{
		height: 40px;
		font-size: 20px;
	
}
#coin
{
		background: url("image/3.jpg" ), black;
		background-repeat: no-repeat;
		background-size:100% auto;
		;

}
#back
{
		background: url("image/1.jpg" ), black;
		background-repeat: no-repeat;
		background-size:100% auto;
		
		
}
#seller
{
		background: url("image/2.jpg" ), black;
		background-repeat: no-repeat;
		background-size:100% auto;
	
}
.class from group
{
	background: red;
}